---
on_premises: true
email_notification: default

mailer_config:
  user_name: default
  password: default
  domain: default
  address: default
  port: default

recaptcha:
  site_key: ''
  secret_key: ''
